# LOCAL TEST ENVIROMENT VARIABLES SAMPLING
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost:4566
LAMBDA_ENDPOINT=http://localhost:4566
DYNAMODB_ENDPOINT=http://localhost:4566
S3_ENDPOINT=http://localhost:4566
DB_HOST=localhost
DB_PORT=5432
DB_NAME=lambda_simulation_db
DB_USER=postgres
DB_PASSWORD=password
DATABASE_URL=postgresql://postgres:password@localhost:5432/lambda_simulation_db
NODE_ENV=development
DEBUG=lambda-simulation:*